@media screen and (max-width:600px) {
  .navbutton {
    display: block;
  }
  .navbutton:focus {
    outline: none;
    background-color: rgba(0,0,0,0.5);
  }
  .logo {
    width: 54px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-self: start;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .navigation.open {
    max-height: 50vh;
  }
  .column {
    grid-column: span 12;
  }
  .copyright {
    grid-column: span 3;
    justify-self: center;
    grid-row-start: 2;
  }
  .social {
    grid-column: span 3;
    width: 100%;
    text-align: center;
    grid-row-start: 1;
  }
  .dropdown-menu {
    max-height: 300px;
    position: static;
  }
  .phone {
    margin: 0 10px 30px 10px;
    display: inline-block;
  }
}